
/* Block */

.block {
    border: 1px solid var(--primary);
    border-radius: 1em;
    padding: 1em;
}

.block--hoverable:hover {
    border-color: var(--gray);
}
  
.block--country {
    display: flex;
    align-items: center;
}
  
.block--disabled {
    border-color: var(--gray);
    color: var(--gray);
}
  
.block--country .name {
    text-align: center;
}
  
.block--country .country, .block--country .name {
    flex-grow: 1;
}

.block .information {
    color: var(--blue);
}

.block .price {
    display: flex;
    align-items: center;
}

.offers .block {
    flex-grow: 1;
}

/* Button */

.button {
    display: block;
    color: var(--background);
    background-color: var(--primary);
    border-radius: 0.5em;
    text-align: center;
    line-height: 2.5em;

    font-family: "Comfortaa", sans-serif;
    margin: 0;
}
  
.button:hover {
    color: var(--white);
}

/* Container */

.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em;
}
  
.container--visible {
    border: 1px solid var(--primary);
    border-radius: 1em;
    padding: 0.5em;
    padding-top: 1em;
}

.container--statistics {
    display: flex;
    flex-direction: column;
}

.container--form .input {
    display: block;
    box-sizing: border-box;
  
    width: 100%;
    border-radius: 1em;
  
}

/* Presentation */

.presentation {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    color: var(--white);
    padding: 2em;
  }
  
.presentation:nth-child(odd) {
    background-color: var(--primary);
}
  
.presentation .icon {
    width: 90px;
    height: 90px;
}

/* Navigation */

.header .logo {
    display: block;
    align-items: center;
    color: var(--white);
    line-height: 80px;
}
  
.navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1em;
}
  
.navigation li a {
    text-decoration: none;
    color: var(--white);
}
  
.navigation li a:hover {
    color: var(--gray);
}
  
.hamburger-icon {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  
    z-index: 999999;
}
  
.hamburger-icon div {
    width: 100%;
    height: 3px;
    background-color: white;
}
  
.menu-toggle {
    display: none;
}
  
  
.menu-toggle:checked + .menu-items {
    transform: translateY(0);
}
  
.menu-toggle:checked + .menu-items .hamburger-icon div:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}
  
.menu-toggle:checked + .menu-items .hamburger-icon div:nth-child(2) {
    opacity: 0;
}
  
.menu-toggle:checked + .menu-items .hamburger-icon div:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}
  
.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--primary);
    padding-top: 60px;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 99;
    overflow-y: auto;
}
  
.menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.menu-items ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #4a5568;
}
  
.menu-items ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
  
.menu-items ul li a:hover {
    color: var(--gray);
}
  
.menu-items .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
}
  
.menu-items .close-button:hover {
    color: var(--gray);
}

  
