@import url("/src/styles/typography.css");
@import url("/src/styles/components.css");
@import url("/src/styles/fonts.css");
@import url("/src/styles/normalize.css");

:root {
  --background: #ECF1F9;
  --white: #FFFFFF;
  --primary: #212227;
  --gray: #B5B5B5;
  --blue: #495161;
  --black: #000000;
  --green: #0AA61C;
  --red: #E32121;
  --yellow: #B88320;
}

/* new */ 

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 900px) {
  .hamburger-icon {
      display: none; 
  }

  .container--products {
    flex-direction: row;
  }  

  .container--products .block {
    flex-grow: 1;
  }

  .presentation {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  .presentation .stuff {
    line-height: 1em;
  }

  .container--statistics {
    flex-direction: row;
    flex-basis: 100%;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.text--gray {
  color: var(--gray);
}

.text--blue {
  color: var(--blue);
}

.text--green {
  color: var(--green);
}

.text--red {
  color: var(--red);
}

.text--yellow {
  color: var(--yellow);
}

.text--white {
  color: var(--white);
}

.header {
  background-color: var(--primary);
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  z-index: 100;
  height: 80px;

  align-items: center;
}

.banner {
  display: block;
  background-color: var(--blue);
  color: var(--white);
  padding: 2em;
}

.price {
  margin-top: 1em;
}

.message {
  background-color: var(--primary);
  color: var(--white);
  border-radius: 1em;
  padding: 1em;
}

.statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.statistic {
  flex-grow: 1;
}

.statistic:nth-child(even) {
  text-align: right;
}

.footer {
  color: var(--white);
  background-color: var(--black);
  padding: 1em 0;
}

.footer .contact {
  color: var(--gray);
}

a:link, a:visited, a:hover, a:active {
  color: var(--gray);
}

.contact a {
  display: block;
}

.country {
  max-width: 100px;
}

.contact--end {
  padding-top: 1em;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--white);
}

.part {
  display: flex;
  justify-content: space-between;
}

.part:not(:last-child) {
  border-bottom: 1px solid var(--blue);
}

.person .information {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.person-photo {
  border-radius: 10em;
  overflow: hidden;

  max-width: 100px;

}

.img {
  background-color: #E32121;
  display: block;
  width: 100%;
  height: 100%;
}

.information .img {
  width: 100px;
  height: 100px;
}

.map {
  width: 100%;
  height: 100%;
}

.footer .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

input {
  display: block;
  width: 100%;
}

.nevim {
  display: flex;
  flex-direction: column;
}

@media (max-width: 699px) {
  .navigation {
      display: none; 
  }

  .hamburger-icon {
      display: flex;
  }

  .header {
      justify-content: space-between; 
  }
}

/* todo:
dodělat footer - moc prázdný na desktop (30 min)
dodělat main page (1h)
importovat animace hamburgeru
vycentrovat text
animace ikonek

*/
