@layer normalize, components, fonts, animations, layout, typography;

@import "components.css" layer(components);
@import "normalize.css" layer(normalize);
@import "animations.css" layer(animations);
@import "typography.css" layer(typography);
@import "layout.css" layer(layout);
@import "fonts.css" layer(fonts);

:root {
  color-scheme: light dark;
  --background: light-dark(#ECF1F9, #000000);
  --white: #FFFFFF;
  --primary: #212227;
  --primary-border: light-dark(#212227, #EDF1F9);
  --gray: #B5B5B5;
  --blue: light-dark(#495161, #ECF1F9);
  --blue-unchanged: #495161;
  --black: #000000;
  --green: #0AA61C;
  --red: #E32121;
  --yellow: #B88320;
}